#login_container {
    margin: auto;
    width: 25rem;
}

#login_form {
    display: flex;
    flex-direction: column;
}

#id_username, #id_password {
    border: none;
    border-bottom: 0.2rem solid #D6D6D6;
    background-color: transparent;
    padding: 0.5rem;
}

#id_username:focus, #id_password:focus {
    border-bottom-color: #E6256F;
}

#id_username:focus-visible, #id_password:focus-visible {
    outline: none;
}

#login_button {
    height: 5rem;
    background: linear-gradient(90.39deg, #E6256F 0.14%, #E94D56 99.66%);
    box-shadow: 0rem 2rem 2.5rem rgba(232, 65, 93, 0.2);
    border-radius: 1.2rem;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
}