#message_container {
    background-color: #FFFFFF;
    height: 82rem;
    width: 35rem;
    border-radius: 2.4rem;
}

#profile_container {
    background-color: #FFFFFF;
    height: 82rem;
    width: 83rem;
    border-radius: 2.4rem;
}