hr {
    color: #F2F2F2;
}

#message_container {
    background-color: #FFFFFF;
    padding: 1.5rem;
    height: 85rem;
    width: 30%;
    border-radius: 2.4rem;
}

#profile_container {
    background-color: #FFFFFF;
    height: 85rem;
    width: 67.5%;
    border-radius: 2.4rem;
}

#mode_container {
    background-color: #F0F0F0;
    height: 7.5rem;
    padding: 1.5rem;
    border-radius: 20px;
}

#mode_icon_container {
    background-color: #FFFFFF;
    border-radius: 30px;
    height: 4.5rem;
    width: 4.5rem;
    float: left;
    margin-right: 2rem;
}

#heart_icon {
    height: 2.5rem;
    width: 2.5rem;
    margin: 1rem;
}

#chat_container {
    border: 0.1rem solid #F0EBEE;
    border-radius: 1rem;
    height: 5rem;
    display: flex;
    align-items: center;
}

#chat_buttons {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: .5rem;
}

.chat_buttons {
    flex: 1;
    text-align: center;
    padding-top: 1.25rem;
}

#chat {
    height: 4.2rem;
    background: linear-gradient(90.39deg, #E6256F 0.14%, #E94D56 99.66%);
    box-shadow: 0rem 2rem 2.5rem rgba(232, 65, 93, 0.2);
    border-radius: 0.8rem;
    color: #FFFFFF;
}

#inactive_chat {
    color: #9B9197
}

#profile_container {
    padding: 1.5rem;
}

#profile_container_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#search_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    width: 35rem;
    background: #F0F0F0;
    border-radius: 34px;
}

#search_input {
    background-color: transparent;
    border: none;
    height: 2.5rem;
    width: 25rem;
    padding-left: 2rem;
}

#grid_layout {
    height: 4rem;
    width: 16rem;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 34px;
}

#profile_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.profile_card {
    height: 32.5rem;
    margin: .5rem;
}

.profile_card_photo {
    height: 100%;
    width: 100%;
    border-radius: 2.4rem;
}

.first_name {
    line-height: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-shadow: .1rem .1rem #000000;
    color: #FFFFFF;
    position: relative;
    bottom: 3.5rem;
    left: 1.5rem
}