#message_container {
    background-color: #FFFFFF;
    padding: 1.5rem;
    height: 85rem;
    width: 30%;
    border-radius: 2.4rem;
}

#profile_container {
    background-color: #FFFFFF;
    height: 85rem;
    width: 67.5%;
    border-radius: 2.4rem;
}

#mode_container {
    background-color: #F0F0F0;
    height: 7.5rem;
    /*margin: 1.5rem 1.5rem;*/
    padding: 1.5rem;
}