{% extends 'base.html' %}
{% load static %}

{% block title %}Hook App - Home{%endblock %} 

{% block content %}
<div id="profile_container">
  <div id="profile_container_header">
    <div id="search_bar">
      <input type="text" placeholder="Search" id="search_input" />
    </div>
    <div id="grid_layout">
        
    </div>
  </div>
  <br />
  <hr />
  <br />
  <div id="profile_grid">
    {% for user in user_list %}
    <div class="profile_card">
        <img src="{{ user.profile_photo.url }}" class="profile_card_photo"/>
        <p class="first_name">{{ user.first_name }}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}